.List {
  margin-right: 20px;
  padding: 10px;
  width: 240px;
  overflow-y: scroll;
  flex-shrink: 0;
  color: var(--color-light);
}

.List__title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-size: 18px;
}

.List__delete {
  float: right;
  cursor: pointer;
}
