.ListCard {
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
  color: #777;
}

.ListCard__title {
  float: left;
  width: 80%;
  margin-bottom: 20px;
}

.ListCard__title:hover {
  cursor: pointer;
}

.ListCard__delete:hover {
  color: #333;
}

.ListCard textarea {
  font-size: 14px;
  border: none;
  outline: none;
  margin-top: -1px;
  margin-left: -2px;
}

.ListCard.highlighted {
  box-shadow: 0 0 1px 4px #FFBA08;
  color: #FFBA08;
  border: 1px solid #FFBA08;
}
.ListCard {
  transition: box-shadow 1s, color 1s, border 1s;
}

.ListCard__commentsCount {
  float: left;
  margin-top: 2px;
}

.ListCard__commentsCount__count {
  display: inline-block;
  margin-left: 3px;
  font-size: 11px;
  vertical-align: top;
}

.ListCard .Assignments {
  float: right;
  margin-top: 0;
}
