@font-face {
  font-family: Pacifico;
  src: url("../assets/fonts/Pacifico.ttf")
}

@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Regular.ttf")
}

@font-face {
  font-family: Open Sans;
  src: url("../assets/fonts/OpenSans-ExtraBold.ttf")
}

html, body, #App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: Helvetica Neue, Helvetica, Arial;
  color: #333;
  height: 100%;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Board {
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  padding-left: 15pt;
  display: flex;
  flex-direction: column;
  background-color: #5BCFFF;
  font-family: "Nunito";
  position: relative;
}

.Board textarea, .Board input[type="text"] {
  font-family: "Nunito";
}

.Board__lists {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  flex-grow: 1;
  margin-bottom: 20px;
}

.Board__title {
  text-align: center;
  font-family: Pacifico;
  margin: 0;
  flex-grow: 0;
  flex-shrink: 0;
  color: rgb(29,119,156);
}

.ListCard.highlighted {
  border: 1px solid #cc8;
  background: #ffe;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.Inspector img,
.Peers img,
.Clocks img,
.Changes img {
  height: 20px;
  padding-left: 4px;
}

.Inspector {
  grid-row: 4;
  grid-column: 1 / 5;
  background-color: #f8f8f8;
  font-size: 8pt;
  padding: 10pt 14pt;
  border-top: 1px solid #aaa;
  overflow: scroll;
}

.Inspector__container {
  display: flex;
}

.Inspector table {
  border-collapse: collapse;
  margin-right: 40px;
}

.Inspector table th {
  background: #CCC;
}

.Inspector table th, .Inspector table td {
  padding: 5px 10px;
  border: 1px solid #AAA;
  text-align: left;
}

.Inspector table tr.highlight {
  background: #ffa;
}

.Inspector__cards__cardId, .Inspector__cards__listId,
.Inspector__cards__assigned, .Inspector__lists__listId {
  font-family: Monaco, monospace;
}

.Inspector input[type="text"] {
  border: 1px solid #aaa;
}
.Inspector input[type="text"].number {
  width: 12pt;
}
.Inspector input[type="text"].string {
  width: 140pt;
}

.sidebar {
  grid-row: 1 / 4;
  grid-column: 4;
  background-color: #f8f8f8;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  font-size: 12px;
  overflow: hidden;
}

.Peers {
  padding: 16px 16px;
  padding-top: 20px;
}
.Peers .networkSwitch {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 32px;
}
.Peers th,
.Clocks th {
  font-weight: normal;
  font-size: 9px;
  text-align: left;
  color: #aaa;
  padding-bottom: 4px;
}
.Peers td,
.Clocks td {
  padding: 0;
  padding-bottom: 8px;
  padding-right: 6px;
}
.Peers td.led img {
  width: 10px;
  height: 10px;
  margin-left: -7px;
}

.Clocks {
  padding: 16px 16px;
  padding-top: 0;
}
.Clocks td.clockPosition {
  text-align: right;
}
.Clocks td.clockPosition.canonical {
  font-weight: bold;
}

.Changes {
  padding: 16px 16px;
  padding-top: 0;
}
.Changes ul {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
}
.Changes li {
  position: relative;
  height: 22px;
  padding-left: 24px;
}
.Changes img.changeNode {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  top: 1px;
}
.Changes img.changeEdge {
  position: absolute;
  height: 11px;
  left: 5.5px;
  top: 12px;
}
.Changes li.highlight {
  color: #770;
}

.Tesseract__info {
  margin-top: 30pt;
  font-size: 8pt;
  color: #777;
}
.Tesseract__info ul {
  list-style-type: none;
  padding: 0;
}

.Assignments {
  margin-top: 10pt;
  float: left;
}
.Assignments img {
  float: right;
  width: 15pt;
  margin-left: 4pt;
}
.Assignments__active {
  opacity: 0.8;
}
.Assignments__inactive {
  opacity: 0.2;
  filter: grayscale(100%)
}

.AddList {
  margin-right: 20px;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  flex-shrink: 0;
}

.AddList__show:hover {
  cursor: pointer;
  text-decoration: underline;
}

.AddList input[type="text"] {
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

.AddList input[type="text"]:focus {
  outline: none;
}

.AddList__save {
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
}

.AddList__clearForm {
  float: right;
  cursor: pointer;
}

.DropTarget {
  margin-bottom: 10px;
  border-bottom: 2px dashed transparent;
  min-height: 20px;
}

.DropTarget.drag-entered {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}
