@font-face {
  font-family: Pacifico;
  src: url("../assets/fonts/Pacifico.ttf")
}

html, body, #App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.App {
  font-family: Helvetica Neue, Helvetica, Arial;
  color: #333;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.Board {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 60%;
  background: url("../assets/images/sos.png") repeat;
  padding-left: 15pt;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Board__lists {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  flex-grow: 1;
  margin-bottom: 20px;
}

.Board__title {
  text-align: center;
  font-family: Pacifico;
  margin: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.Changes {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 60%;
  padding: 10pt 14pt;
  background-color: #f8f8f8;
  border-left: 1px solid #aaa;
}

.Inspector {
  position: absolute;
  top: 60%;
  left: 0;
  width: 20%;
  height: 40%;
  background-color: #f8f8f8;
  font-size: 8pt;
  width: 75%;
  flex-shrink: 0;
  padding: 10pt 14pt;
  border-top: 1px solid #aaa;
}

.Inspector table th {
  text-align: left;
}
.Inspector table td {
  padding: 2pt;
  font-family: monospace;
}

.Inspector input[type="text"] {
  border: 1px solid #aaa;
}
.Inspector input[type="text"].number {
  width: 12pt;
}
.Inspector input[type="text"].string {
  width: 140pt;
}

.Peers {
  position: absolute;
  top: 60%;
  right: 0;
  width: 25%;
  height: 40%;
  padding: 10pt 14pt;
  background-color: #f8f8f8;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.Tesseract__info {
  margin-top: 30pt;
  font-size: 8pt;
  color: #777;
}
.Tesseract__info ul {
  list-style-type: none;
  padding: 0;
}

.Assignments {
  margin-top: 4pt;
}
.Assignments img {
  float: right;
  width: 20pt;
  margin-left: 4pt;
}
.Assignments__active {
  opacity: 1.0;
}
.Assignments__inactive {
  opacity: 0.25;
}

.AddList {
  margin-right: 20px;
  background: #AAA;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  flex-shrink: 0;
}

.AddList__show:hover {
  cursor: pointer;
  text-decoration: underline;
}

.AddList input[type="text"] {
  border: none;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

.AddList input[type="text"]:focus {
  outline: none;
}

.AddList__save {
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
}

.AddList__clearForm {
  float: right;
  cursor: pointer;
}
