.Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  background: #FFF;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0px rgba(0,0,0,0.2);
  color: var(--color-dim);
  width: 50%;
  min-height: 240px;
  max-height: 80%;
  overflow-y: scroll;
  position: relative;
}

.Card__close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}

.Card__delete {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.Card__title {
  cursor: pointer;
}

.Card__title div,
.Card__title textarea {
  font-size: 24px;
  font-weight: bold;
  height: 32px;
}

.Card .Assignments img {
  width: 30px;
}

.Card__shortcuts {
  font-size: 10px;
  color: #999;
  margin-top: 30px;
  text-align: center;
  margin-bottom: -10px;
}

.Card .InlineInput div, .Card .InlineInput textarea {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  width: 90%;
  word-wrap: break-word;
  display: block;
  white-space: pre-wrap;
}

.Card label {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Open Sans";
  display: block;
}

.Card__list {
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-dim);
}

.Card .Assignments {
  margin-bottom: 20px;
}

.Card .Comments textarea {
  box-sizing: border-box;
  padding: 0.3em;
  width: 100%;
  height: 2em;
  font-size: 14px;
  font-family: "Nunito";
  outline: none;
  border: 1px solid #BBB;
}

.Card .Comments button {
  float: right;
  margin-bottom: 20px;
  background-color: var(--color-medium);
  color: rgba(0,0,0,0.5);
  padding: 0.3em 0.8em;
  border: 1px solid var(--color-dim);
  border-radius: 4px;
  font-size: 12px;
  font-family: "Open Sans";
  cursor: pointer;
}

.Comment__author {
  font-family: "Open Sans";
  font-size: 14px;
}

.Comment {
  margin-bottom: 20px;
}

.Comment__timestamp {
  font-size: 10px;
  color: var(--color-medium);
  margin-top: 5px;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

