.ListCard {
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  box-shadow: 0 2px 10px 0px #59ADD0;
  color: #777;
}

.ListCard__title {
  float: left;
  width: 80%;
}

.ListCard__title:hover {
  cursor: pointer;
}

.ListCard__delete {
  float: right;
  cursor: pointer;
  color: #AAA;
}

.ListCard__delete:hover {
  color: #333;
}

.ListCard textarea {
  font-size: 14px;
  border: none;
  outline: none;
  margin-top: -1px;
  margin-left: -2px;
}
